<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="SCYHubComponent" class="eu.scy.scyhub.SCYHubComponent">
        <property name="actionLogger" ref="actionLogger"/>
        <property name="dataSyncModule" ref="dataSynchModule"/>
    </bean>

    <bean id="dataSynchModule"  class="eu.scy.datasync.impl.factory.DataSyncModule">
    </bean>

</beans>