#layout-column_column-1 .portlet {
	margin-top: 55px;
	float: right;
	width: 450px;
	margin-right: 0;
}

.scy-lab-article-content {
	display: block;
	height: 420px;
	overflow-y: scroll;
	overflow-x: visible;
	line-height: 1.5;
}

.exit-button-anchor {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 18px;
    left: 97%;
    position: relative;
    text-decoration: none;
    top: -7px;
    width: 18px;
}