<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="scenarioService" class="eu.scy.core.ScenarioServiceImpl">
        <property name="scenarioDAO" ref="scenarioDAO"/>
    </bean>

    <bean id="pedagogicalPlanPersistenceService" class="eu.scy.core.PedagogicalPlanPersistenceServiceImpl">
        <property name="pedagogicalPlanPersistenceDAO" ref="pedagogicalPlanPersistenceDAO"/>
    </bean>
    
    <bean id="studentPedagogicalPlanService" class="eu.scy.core.StudentPedagogicalPlanPersistenceServiceImpl">
        <property name="studentPedagogicalPlanPersistenceDAO" ref="studentPedagogicalPlanPersistenceDAO"/>
    </bean>

    <bean id="userService" class="eu.scy.core.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
    </bean>
    
    <bean id="toolService" class="eu.scy.core.ToolServiceImpl">
        <property name="toolDAO" ref="toolDAO"/>
    </bean>

    <bean id="lasService" class="eu.scy.core.LASServiceImpl">
        <property name="lasDAO" ref="lasDAO"/>
    </bean>

</beans>