.portlet-topper-toolbar {
	left: 3px;
	right: auto;
}

.title-close-area {
	position: relative;
}

div.portlet-body {
	padding: 3px;
}

.journal-content-article h1 {
	font-size: 26px;
	font-weight: normal;
	height: 34px;
	letter-spacing: 0.5px;
	padding: 8px 0 15px 15px;
	margin: 0 -13px 1em -13px;
	color: #000;
}

.portlet {
	border: 3px solid #000;
	border-radius: 0 0 0 15px;
	background: #fff;
	margin: 5px;
}

section.portlet {
	box-shadow: 3px 3px 5px #000;
	-moz-box-shadow: 3px 3px 5px #000;
	-webkit-box-shadow: 3px 3px 5px #000;
}

.taglib-header .header-back-to a {
	padding: 0;
}

.portlet-borderless-container {
	background: #fff;
}

.portlet-title {
    color: #FFFFFF;
    display: block;
    font-size: 26px;
    font-weight: normal;
    margin-top: 30px;
    padding: 8px 0 26px 12px;
}

.portlet-title .icon {
	display: none;
}

.exit-button-anchor {
	display: none;
	background-repeat: no-repeat;
	background-position: center center;
	text-decoration: none;
    height: 18px;
    width: 18px;	
    position: absolute;
    left: auto;
    right: 3px;
    top: -24px;
}

.aui-field-label {
	font-weight: normal;
}

.aui-rating-element {
	text-decoration: none;
}

.nav-item a.selected {
	font-weight: bold;
}

textarea, textarea.aui-field-input {
	height: 15ex;
	width: 90%;
}

input[type="submit"], input[type="button"], input[type="reset"], button, .lfr-actions, .lfr-actions ul {
	color: #000;
	margin: 1px;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover, .lfr-actions *:hover, .lfr-actions ul:hover {
	border-width: 2px;
	margin: 0;
	background: url("../images/portlet/header_bg.png") repeat-x scroll 0 0 #D4D4D4;
	color: #000;
}

.journal-content-article li {
    margin: 0.5em;
}
.journal-content-article ul {
    list-style: disc inside none;
}
