<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">


<!-- Use this file to setup a default project -->        
<beans>

    <bean id="defaultProject" class="eu.scy.core.model.Project">
        <property name="name" value="Default SCY project"/>
        <property name="groups">
            <list>
                <ref bean="defaultProjectGroup"/>
            </list>
        </property>
    </bean>

    <bean id="defaultProjectGroup" class="eu.scy.core.model.Group">
        <property name="name" value="SCY Default Group"/>
    </bean>

    <bean id="defaultGlobalAdmin" class="eu.scy.core.model.User">
        <property name="userName" value="scy"/>
        <property name="password" value="scy"/>
        <property name="firstName" value="Darth"/>
        <property name="lastName" value="Vader"/>
        <property name="userRoles">
            <list>
                <ref bean="adminRoleConnection"/>
                <ref bean="projectAdminConnection"/>
            </list>
        </property>
    </bean>

    <bean id="lukeSkywalker" class="eu.scy.core.model.User">
        <property name="userName" value="luke"/>
        <property name="password" value="luke"/>
        <property name="firstName" value="Luke"/>
        <property name="lastName" value="Skywalker"/>
        <property name="userRoles">
            <list>
                <ref bean="lukeRoleConnection"/>
                <!--ref bean="projectAdminConnection"/-->
            </list>
        </property>
    </bean>

    <bean id="adminRoleConnection" class="eu.scy.core.model.UserRole">
        <property name="user" ref="defaultGlobalAdmin"/>
        <property name="role" ref="adminRole"/>
    </bean>

    <bean id="lukeRoleConnection" class="eu.scy.core.model.UserRole">
        <property name="user" ref="lukeSkywalker"/>
        <property name="role" ref="adminRole"/>
    </bean>

    <bean id="projectAdminConnection" class="eu.scy.core.model.UserRole">
        <property name="role" ref="projectAdminRole"/>
        <property name="user" ref="defaultGlobalAdmin"/>
    </bean>

    <bean id="adminRole" class="eu.scy.core.model.Role"><property name="name" value="ROLE_GLOBAL_ADMINISTRATOR"/></bean>
    <bean id="projectAdminRole" class="eu.scy.core.model.Role"><property name="name" value="ROLE_PROJECT_ADMINISTRATOR"/></bean>




</beans>