.title-bar {
	background-color: white;
}

#top-bar {
	color: #fff;
    background: #684997;
    padding: 5px 28px 0;
    height: 10px;
}

#embedded-search {
	float: left;
}

#embedded-search select {
	display: none;
}

#embedded-search input {
	padding: 2px 1px;
}

#embedded-search span {
	float: left;
}

#embedded-search form {
	float: right;	
}

#top-bar-right {
	float: right;
}

.dockbar {
	background: #684997;
	position: static;
	padding: 0;
	border-bottom: 0;
	font: 12px/18pt Verdana,Helvetica,Arial,sans-serif;
}

.dockbar a {
	color: #fff;
	text-shadow: none;
}

.dockbar .menu-button {
	padding: 0 20px 0 5px;
	background: transparent;
}

.dockbar .pin-dockbar {
	display: none;
}

.dockbar .my-places {
	display: none;
}

.dockbar .user-portrait {
	display: none;
}

.add-application {
	color: #000;
}

#heading h1 {
	margin: 0px;
}

a#sign-in {
	font-weight: normal;
	color: #fff;
}

a#sign-in:hover {
	font-weight: bold;
}


#navigation {
	padding-top: 3px;
	background-color: #01b6d3;
	margin-left: 75px;
	background-image: url(../images/light-blue-corner_SW.png);
	background-repeat: no-repeat;
	background-attachment: initial;
	background-position: left bottom;
	background-origin: initial;
	background-clip: initial;
}

#navigation ul {
	margin: 0px 0px 10px 15px;
}

#navigation a {
	margin-right: 13px;
	padding: 0px 2px 1px;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
}

#navigation li {
	display:inline;
	position: relative;
}

#navigation > ul > li.selected > a {
	border-color: #fff;
	border-style: solid;
	border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px; 
	background-color: #fff;
	color: #000;
}

#navigation .child-menu {
	font-size: 11px;
	display: none;
	z-index: 100;
	position: absolute;
	background-color: #684997; 
	top: 15px;
	left: -15px;
	width: 200px;
	box-shadow: 3px 3px 5px #000;
	-moz-box-shadow: 3px 3px 5px #000;
	-webkit-box-shadow: 3px 3px 5px #000;
	border-radius: 0 0 0 3px;
	-moz-border-radius: 0 0 0 3px; 
}

#navigation .child-child-menu {
	display: none;
	position: absolute;
	left: 60px;
	top: -5px;
	width: 200px;
	background-color: #01b6d3;
	z-index: 150;
	box-shadow: 3px 3px 5px #000;
	-moz-box-shadow: 3px 3px 5px #000;
	-webkit-box-shadow: 3px 3px 5px #000;
	border-radius: 0 0 0 3px;
	-moz-border-radius: 0 0 0 3px; 
}

#navigation .child-menu a {
	color: #fff;
	font-size: 11px;
}

#navigation .child-menu li {
	display: block;
	margin: 4px 0;
	padding-left: 5px;
}

#navigation li:hover .child-menu {
	display: block;
}

#navigation .child-menu li:hover {
	background-color: #01b6d3;
	border-radius: 0 0 0 3px;
	-moz-border-radius: 0 0 0 3px; 
	
}

#navigation .child-menu li:hover .child-child-menu {
	display: block;
}

#skip-to-content, #banner h2, #banner h3, #navigation h1, .site-breadcrumbs h1 {
	display: none;
}

.scy-logo {
	height: 112px;
	font-size: 0;
	text-decoration: none;
	
	display: block;
	
	background-image: url(../images/scy-header.gif);
	background-repeat: no-repeat;
	background-attachment: initial;
	background-position: left center;
	background-origin: initial;
	background-clip: initial;
	background-color: #684997;
}

#breadcrumbs {
	display: none;
}

.results-header th, .results-header td {
	color: black;
}

.portlet-msg-info {
  background-color: #fff;
    border: 1px solid #A7CEDF;
    color: #34404F;
    display: block;
    font-weight: bold;
    margin: 2px auto 14px;
    padding: 6px 6px 6px 30px;
    text-align: left;
}

a {
	color: black;
}

.aui-tabview-list, .aui-tab-active, body > .lfr-menu-list ul, .lfr-actions, .aui-dialog-content, .aui-dialog .aui-widget-hd, .modify-pages .delete-tab, input[type="submit"], input[type="button"], input[type="reset"], button {
    border-radius: 15px 4px 4px 4px;
}