body {
	font: 12px/18pt Verdana,Helvetica,Arial,sans-serif;
	letter-spacing: 0.5px;
}

#wrapper {
	width: 998px;
	margin: auto;
}

#content {
	padding: 0 15px 0 95px;
	background-image: url(../images/scy_splash_bg.jpg);
	background-repeat: no-repeat;
	background-position: 57px 7px;
	min-height: 695px;
}

.portlet-search .section-title {
	margin: 10px 0 0;
	background: transparent;	
}

input[onclick="_3_addSearchProvider();"] {
	display: none;
}

.search-msg {
	display: none;
}

.highlight {
	background: transparent;
	color: red;
	font-weight: normal;
}