<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="scyHub" class="eu.scy.scyhub.SCYHubComponent" lazy-init="true"></bean>

    <bean id="notificator" class="eu.scy.server.notification.Notificator"
          lazy-init="true">
        <constructor-arg>
            <ref bean="scyHub"/>
        </constructor-arg>
    </bean>

    <bean id="actionProcessModule" class="eu.scy.actionlogging.server.ActionProcessModule"
          lazy-init="true">
        <constructor-arg>
            <ref bean="scyHub"/>
        </constructor-arg>
    </bean>

    <bean id="dataSyncModule" class="eu.scy.server.datasync.DataSyncModule"
          lazy-init="true">
        <constructor-arg>
            <ref bean="scyHub"/>
        </constructor-arg>
    </bean>

    <bean id="scyHubExternalComponent"
          class="eu.scy.server.externalcomponents.scyhub.SCYHubExternalComponent"
          singleton="true">
        <property name="scyhub" ref="scyHub"/>
    </bean>

	<bean id="sqlSpacesComponent"
          class="eu.scy.server.externalcomponents.sqlspaces.SQLSpacesComponent"
          singleton="true"/>

    <bean id="externalComponentManager"
          class="eu.scy.server.externalcomponents.ExternalComponentManager"
          singleton="true">
        <property name="externalComponents">
            <list>
                <ref local="sqlSpacesComponent"/>
                <ref local="scyHubExternalComponent"/>
                <ref bean="agentFrameworkComponent"/>
            </list>
        </property>
    </bean>
    
</beans>
