.graph-plugin-qoc-question {
	background-color: FF0A0A; /* red */
}	

.graph-plugin-qoc-option {
	background-color: #3366FF; /* blue */
}	

.graph-plugin-qoc-criterion {
	background-color: #FFFF0A; /* yellow */
}

.graph-plugin-qoc-edge-positive {
	color: green;
}

.graph-plugin-qoc-edge-negative {
	color: red;
}