<portfolios>
    <portfolio>
	  <owner><![CDATA[Jeremy]]></owner>
	  <mission><![CDATA[CO2 friendly house]]></mission>
	  <portfoliostatus><![CDATA[PORTFOLIO_SUBMITTED]]></portfoliostatus>
	  <elos>
	    <elo>
	      <uri><![CDATA[yyy]]></uri>
	      <catname><![CDATA[Concept map]]></catname>
	      <createdby><![CDATA[Me]]></createdby>
	      <thumbnail><![CDATA[http://www.intermedia.uio.no/www-data-public/app-scy/ep/assets/images/thumbs/nothumb.png]]></thumbnail>
	      <fullsize><![CDATA[http://www.intermedia.uio.no/www-data-public/app-scy/ep/assets/images/thumbs/nothumb.png]]></fullsize>
	      <customname><![CDATA[My_first_ideas_test]]></customname>
	      <modified><![CDATA[10.02.2010 10:00]]></modified>
	      <studentdescription><![CDATA[cgvbhj]]></studentdescription>
	      <studentglg>
	        <goal pos="1"><![CDATA[Are able to formulate (syntactically correct) hypotheses]]></goal>
	        <goal pos="2"><![CDATA[Are able to write a report individually]]></goal>
	      </studentglg>
	      <studentslg>
	        <goal pos="4"><![CDATA[Can identify and explain the consequences of increasing atmospheric CO2-levels, including the enhanced greenhouse effect and global warming climate change rising sea levels.]]></goal>
	        <goal pos="5"><![CDATA[Are able to use a complex formula to calculate, and use results as imput to ther formulas]]></goal>
	      </studentslg>
	      <studentreflection><![CDATA[vgkuvb knm.]]></studentreflection>
	      <hasbeenreflectedon>false</hasbeenreflectedon>
	      <hasbeenselectedforsubmit>true</hasbeenselectedforsubmit>
	      <inquiryquestion><![CDATA[How helpful was building a concept map in identifying the main concepts related to reducing global CO2 levels?]]></inquiryquestion>
	      <studentinquiry>2</studentinquiry>
	      <assessed>false</assessed>
	      <grade/>
	      <assessmentcomment/>
	      <reflectioncomment/>
	    </elo>
	    <elo>
	      <uri><![CDATA[www]]></uri>
	      <catname><![CDATA[Research questions]]></catname>
	      <createdby><![CDATA[Group1]]></createdby>
	      <thumbnail><![CDATA[http://www.intermedia.uio.no/www-data-public/app-scy/ep/assets/images/thumbs/nothumb.png]]></thumbnail>
	      <fullsize><![CDATA[http://www.intermedia.uio.no/www-data-public/app-scy/ep/assets/images/thumbs/nothumb.png]]></fullsize>
	      <customname><![CDATA[Concept map CO2]]></customname>
	      <modified><![CDATA[14.02.2010 12:00]]></modified>
	      <studentdescription><![CDATA[797846541]]></studentdescription>
	      <studentglg>
	        <goal pos="2"><![CDATA[Are able to write a report individually]]></goal>
	      </studentglg>
	      <studentslg>
	        <goal pos="7"><![CDATA[Can apply the concept of overall heat transfer coefficientin which the transfer of heat by conduction and convection through all building elements are combined]]></goal>
	      </studentslg>
	      <studentreflection><![CDATA[132156132]]></studentreflection>
	      <hasbeenreflectedon>false</hasbeenreflectedon>
	      <hasbeenselectedforsubmit>true</hasbeenselectedforsubmit>
	      <inquiryquestion><![CDATA[How helpful was building a concept map in identifying the main concepts related to reducing global CO2 levels?]]></inquiryquestion>
	      <studentinquiry>2</studentinquiry>
	      <assessed>false</assessed>
	      <grade/>
	      <assessmentcomment/>
	      <reflectioncomment/>
	    </elo>
	  </elos>
	  <reflectionmission><![CDATA[789451]]></reflectionmission>
	  <reflectioncollaboration><![CDATA[51203]]></reflectioncollaboration>
	  <reflectioninquiry><![CDATA[856132]]></reflectioninquiry>
	  <reflectioneffort>1</reflectioneffort>
	</portfolio>
</portfolios>