@charset "utf-8";
/* Mission 1 SCY CSS styles */

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	line-height:14px;
	padding:10px;
	margin:10px;	
	color:#00004a;
	background-image:url(bgImage.png);
	background-repeat:repeat-x;
}

h1,.mainTitle{
	font-size:12px;
	font-weight:bold;
	color:#00004a;
	margin-bottom: 20px;
}

h2,.subTitle{
	font-size:11px;
	font-weight:bold;
	color:#00004a;
	margin-bottom: 0px;
}

h3,.minorTitle{
	font-size:11px;
	font-weight:bold;
	margin-bottom: 0px;
	color:#00004a;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a,a.internal{
	color:#00004a;
}

a.external{
	color:#F00000;
}

hr.line{
	color: #F00000;
	size: 1px;
}

/* Menus at the top of the page */

ul#menu {
list-style-type: none;
margin-top: -10px;
margin-bottom: 20px;
margin-left: -15px;
}

ul#menu li {
display: inline;
margin: 0 2px;
padding: 5px 15px;
text-align: center;
border: 1px solid gray;
background: #fff;
}

ul#menu li:hover {
background: #ccc;
border: 1px solid gray; 
}

ul#menu a {
text-decoration: none;
color: #000;
}

.currentPage{
font-weight:bold;
color: #060;
}

.Bold {
	font-weight: bold;
}
.underligned {
	text-decoration: underline;
}
