<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <mapping class="eu.scy.core.model.impl.SCYProjectImpl"/>
        <mapping class="eu.scy.core.model.impl.GroupImpl"/>
		<mapping class="eu.scy.core.model.impl.SCYGroupImpl"/>
        <mapping class="eu.scy.core.model.impl.PedagogicalPlanGroupImpl"/>
        <mapping class="eu.scy.core.model.impl.SCYUserImpl"/>
        <mapping class="eu.scy.core.model.impl.SCYUserDetails"/>
        <mapping class="eu.scy.core.model.impl.UserGroupConnectionImpl"/>
        <!--mapping class="eu.scy.core.model.impl.RoleImpl"/-->
        <!--mapping class="eu.scy.core.model.impl.UserRoleImpl"/-->

        <mapping class="net.sf.sail.webapp.domain.authentication.impl.PersistentGrantedAuthority" />
        <!--mapping class="net.sf.sail.webapp.domain.authentication.impl.PersistentGrantedAuthority" />
        <mapping class="net.sf.sail.webapp.domain.authentication.impl.PersistentAclEntry" />
        <mapping class="net.sf.sail.webapp.domain.authentication.impl.PersistentAclSid" />
        <mapping class="net.sf.sail.webapp.domain.authentication.impl.PersistentAclTargetObject" />
        <mapping class="net.sf.sail.webapp.domain.authentication.impl.PersistentAclTargetObjectIdentity" />
        <mapping class="net.sf.sail.webapp.domain.authentication.impl.PersistentGrantedAuthority" /-->


        <!--mapping package="eu.scy.core.model.impl"/-->
        <!--mapping package="net.sf.sail.webapp.domain.sds"/-->

        <!--mapping class="eu.scy.core.model.impl.SCYUserImplmpl"/>
        <mapping class="eu.scy.core.model.impl.SCYGroupImplmpl"/>
        <mapping class="eu.scy.core.model.impl.SCYProjectImplmpl"/>
        <mapping class="eu.scy.core.model.impl.RoleImpl"/>
        <mapping class="eu.scy.core.model.impl.UserRoleImpl"/>
        <mapping class="eu.scy.core.model.impl.BuddyConnectionImpl"/>
        <mapping class="eu.scy.core.model.impl.UserSessionImpl"/>
        <mapping class="eu.scy.core.model.impl.SCYUserDetailsils"/-->

        <!--mapping class="net.sf.sail.webapp.domain.authentication.impl.PersistentUserDetails"/-->
        <!--mapping class="net.sf.sail.webapp.domain.sds.SdsUser"/-->




    </session-factory>
</hibernate-configuration>