.graph-node-dropTarget-engage {
	border: 1px solid #000000;
	background-color: #77AAFF; /* light blue */
}

.graph-node-drag-handle {
	background-color: #E0E8FF;
}

.graph-clickable-widget {
	cursor: pointer;
}

.graph-plugin-qoc-question {
	background-color: FF0A0A; /* red */
}	

.graph-plugin-qoc-option {
	background-color: #3366FF; /* blue */
}	

.graph-plugin-qoc-criterion {
	background-color: #FFFF0A; /* yellow */
}

.gwt-diagrams-canvas-positiv {
	color: green;
}

.gwt-diagrams-canvas-neutral {
	color: black;
}

.gwt-diagrams-canvas-negative {
	color: red;
}
.gwt-diagrams-vml-curve-positiv {
	color: green;
}

.gwt-diagrams-vml-curve-neutral {
	color: black;
}

.gwt-diagrams-vml-curve-negative {
	color: red;
}