<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
		"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    


	<bean id="scenarioService" class="eu.scy.core.ScenarioServiceImpl">
		<property name="scyBaseDAO" ref="scenarioDAO"/>
	</bean>

	<bean id="pedagogicalPlanPersistenceService" class="eu.scy.core.PedagogicalPlanPersistenceServiceImpl">
		<property name="scyBaseDAO" ref="pedagogicalPlanPersistenceDAO"/>
	</bean>

	<bean id="studentPedagogicalPlanService" class="eu.scy.core.StudentPedagogicalPlanPersistenceServiceImpl">
		<property name="scyBaseDAO" ref="studentPedagogicalPlanPersistenceDAO"/>
	</bean>

	<bean id="userService" class="eu.scy.core.UserServiceImpl">
		<property name="scyBaseDAO" ref="userDAO"/>
	</bean>

    <bean id="groupService" class="eu.scy.core.GroupServiceImpl">
		<property name="scyBaseDAO" ref="groupDAO"/>
        <property name="groupDAO" ref="groupDAO"/>
	</bean>

	<bean id="toolService" class="eu.scy.core.ToolServiceImpl">
		<property name="scyBaseDAO" ref="toolDAO"/>
	</bean>

	<bean id="lasService" class="eu.scy.core.LASServiceImpl">
		<property name="scyBaseDAO" ref="lasDAO"/>
	</bean>

	<bean id="assessmentService" class="eu.scy.core.AssessmentServiceImpl">
		<property name="scyBaseDAO" ref="assessmentDAO"/>
	</bean>

	<bean id="missionService" class="eu.scy.core.MissionServiceImpl">
		<property name="scyBaseDAO" ref="missionDAO"/>
	</bean>

	<bean id="agentService" class="eu.scy.core.AgentServiceImpl">
		<property name="scyBaseDAO" ref="agentDAO"/>
	</bean>

	<bean id="playfulAssessmentService" class="eu.scy.core.PlayfulAssesmentServiceImpl">
		<property name="scyBaseDAO" ref="playfulAssessmentDAO"/>
	</bean>

	<bean id="eloRefService" class="eu.scy.core.ELORefServiceImpl">
		<property name="scyBaseDAO" ref="eloRefDAO"/>
	</bean>

	<bean id="serverService" class="eu.scy.core.ServerServiceImpl">
		<property name="serverDAO" ref="serverDAO"/>
	</bean>

    <bean id="activityService" class="eu.scy.core.ActivityServiceImpl">
		<property name="activityDAO" ref="activityDAO"/>
	</bean>

    <bean id="anchorELOService" class="eu.scy.core.AnchorELOServiceImpl">
		<property name="anchorELODAO" ref="anchorELODAO"/>
        <property name="scyBaseDAO" ref="agentDAO"/>
	</bean>

    <bean id="ajaxPersistenceService" class="eu.scy.core.AjaxPersistenceServiceImpl">
		<property name="ajaxPersistenceDAO" ref="ajaxPersistenceDAO"/>
	</bean>

    <bean id="setupService" class="eu.scy.core.SetupServiceImpl">
		<property name="setupDAO" ref="setupDAO"/>
	</bean>

    <bean id="fileService" class="eu.scy.core.FileServiceImpl">
        <property name="fileDAO" ref="fileDAO"/>
    </bean>

    <bean id="assignedPedagogicalPlanService" class="eu.scy.core.AssignedPedagogicalPlanServiceImpl">
        <property name="assignedPedagogicalPlanDAO" ref="assignedPedagogicalPlanDAO"/>
    </bean>

    <bean id="runtimeService" class="eu.scy.core.runtime.RuntimeServiceImpl">
        <property name="runtimeDAO" ref="runtimeDAO"/>
    </bean>

    <bean id="learningMaterialService" class="eu.scy.core.LearningMaterialServiceImpl">
        <property name="learningMaterialDAO" ref="learningMaterialDAO"/>
    </bean>

    <bean id="sessionService" class="eu.scy.core.runtime.SessionServiceImpl">
        <property name="tupleSpace" ref="sessionTupleSpace"/>
    </bean>

</beans>