   .scylogo16x16 {  
        background-image: url( images/scyLogo16x16.png )
   }  
   .scylogo32x32 {  
        background-image: url( images/scyLogo32x32.png )
   }  
   .scylogo32x16 {  
        background-image: url( images/scyLogo32x16.png )
   }  